# https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]
log_path                    = ansible.log

inventory                   = hosts.ini
roles_path                  = roles
playbook_dir                = .

callbacks_enabled           = profile_tasks
gathering                   = smart

remote_user                 = ansible
ask_become_pass             = True
become_flags                = -H -S -n

local_tmp                   = ~/.ansible/tmp
remote_tmp                  = ~/.ansible/tmp

# Increase timeout
win_async_startup_timeout   = 18
forks                       = 10

[ssh_connection]
pipelining  = True
ssh_args    = -o ControlMaster=auto -o ControlPersist=60s
