---
- Developer:
    - GitHub:
        - icon: github
          href: https://github.com/
    - Ansible Docs:
        - icon: ansible
          href: https://docs.ansible.com/

- Networking:
    - Router:
        - icon: mikrotik
          href: http://192.168.88.1/