---
- greeting:
    text_size: xl
    text: "🏠 Homelab"

- datetime:
    text_size: lg
    format:
      dateStyle: long
      timeStyle: short
      hour12: false

- search:
    provider: google
    focus: false
    target: _blank
