admin:
  address:
    socket_address:
      protocol: TCP
      address: 0.0.0.0
      port_value: 9901

static_resources:
  listeners:
    - name: listener_0
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 80
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: ingress_http
                use_remote_address: true
                xff_num_trusted_hops: 0
                upgrade_configs:
                  - upgrade_type: websocket
                route_config:
                  name: local_route
                  virtual_hosts:
{% for svc in lab_services %}
                    - name: {{ svc.name }}
                      domains: ["{{ svc.name }}.{{ lab_domain }}", "{{ svc.name }}.{{ lab_domain }}:*"]
                      routes:
                        - match:
                            prefix: "/"
                          route:
                            cluster: {{ svc.name }}
                            timeout: 0s
{% endfor %}
                http_filters:
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

  clusters:
{% for svc in lab_services %}
    - name: {{ svc.name }}
      connect_timeout: 30s
      type: LOGICAL_DNS
      lb_policy: ROUND_ROBIN
      load_assignment:
        cluster_name: {{ svc.name }}
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: {{ lab_ip }}
                      port_value: {{ svc.port }}
{% endfor %}